# Dependencies
/node_modules

# Vite build output
/dist
/dist-ssr

# Cache files
.vite/
.npm
.pnpm-store

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
# Do NOT commit sensitive data!
.env
.env.*
!.env.example

# Local-only environment files should be ignored [10]
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db