/* Tailwind import */
@import 'tailwindcss';

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===================== */

/* Global styles */
@theme {
    
    /* Typography */
    --font-font: 'Prompt', sans-serif;
    --font-weight-general: 400; /* For hero body and links */
    --font-weight-light: 300; /* For general body (descriptions, footer links) */
    --font-weight-heading: 600; /* For headings, titles, selected-links */

    /* Colors */
    --color-primary: #1A2456; /* Nav, product title, price */
    --color-background: #f0efed; /* Main background color (off-white) */
    --color-ribbon: #FF8D6B; /* Pre-order text */
    --color-accent: #EFC2B3; /* Nav links, icons, hero text, footer text */
    --color-hover: #E28F74; /* Hovered accent links */
    --color-flavortext: #080b1b; /* Hovered primary links, 'PRE-ORDER' text, dropdown item text */

}

/* ===================== */

/*
|-------------------------------------------------------------------------------
| Tailwind Class Order Cheat Sheet
|-------------------------------------------------------------------------------
|
| 1.  Layout/Positioning: flex, grid, block, absolute, relative, z-index
| 2.  Box Model: box-sizing, width, height, min/max
| 3.  Spacing: margin (m-), padding (p-)
| 4.  Typography: font, text, leading, tracking
| 5.  Backgrounds: bg-color, bg-gradient
| 6.  Borders/Effects: border, rounded, shadow, opacity
| 7.  Interactivity: cursor, transition, transform
| 8.  SVG: fill, stroke
| 9.  States/Breakpoints: hover:, focus:, sm:, md:
|
*/

/* Shared classes */
@layer utilities {

    /* ========== GENERAL ========== */
    html {
        scroll-behavior: smooth;
    }
    body {
    @apply 
        overflow-x-hidden
        min-h-screen box-border
        m-0 p-0 
        font-font text-base leading-normal 
        bg-background;
    }
    main {
        @apply
        w-full min-h-screen;
    }

    /* ========== HERO ========== */
    /* Hero images */
    .hero-first {
        @apply
        bg-cover bg-center bg-no-repeat bg-black/70 bg-blend-darken
        bg-[url(src/assets/images/pexels-cottonbro-10598788.jpg)];
    }
    .hero-second {
        @apply
        bg-cover bg-center bg-no-repeat
        bg-[url(src/assets/images/joyce-g-Jqv4HkLWc6g-unsplash.jpg)]
        lg:bg-[center_75%];
    }
    /* Hero headings */
    .title {
        @apply
        font-heading text-sm tracking-[0.12em]
        cursor-pointer
        hover:text-hover;
    }
    .hero-heading {
        @apply
        font-heading tracking-wider leading-10
        text-[2.2rem] sm:text-[2.3rem] lg:text-[2.5rem] lg:leading-11;
    }
    /* Hero subtitle */
    .subtitle {
        @apply
        font-light 
        sm:text-lg;
    }

    /* ========== LINKS ========== */
    /* Links */
    .nav-link {
        @apply
        font-light tracking-[0.12em] text-xs
        hover:text-hover;
    }
    /* Menu sidenav links */
    .sidenav-link {
        @apply
        w-full
        pb-3
        text-sm
        border-b-2 border-[#141c47];
    }
    /* Dropdown triangles */
    .link-dropdown {
        @apply
        after:ml-[.255em]
        after:align-[.255em]
        after:inline-block
        after:h-0
        after:w-0
        after:content-['']
        after:border-t-[.3em]
        after:border-l-[.3em]
        after:border-r-[.3em]
        after:border-b-0
        after:border-t-current
        after:border-l-transparent
        after:border-r-transparent;
    }

    /* ========== NAVIGATION ========== */
    /* Navigational top bar */
    .topnav {
        @apply
        flex justify-between items-center fixed z-40 
        top-1.5 left-1.5 right-1.5 pr-4 
        text-accent 
        bg-primary 
        sm:top-3.5 sm:left-3.5 sm:right-3.5;
    }
    /* Mobile menu sidenav */
    .mobile-menu {
        @apply
        flex-col gap-3 z-50 fixed
        top-0 left-0 min-w-[22rem] h-full p-2
        text-accent 
        bg-primary
        transition-transform duration-300 ease-in-out
        sm:p-5;
    }
    /* Overlay for mobile menu */
    .overlay {
        @apply
        fixed z-40 
        inset-0 
        transition-opacity duration-400;
    }

    /* ========== PRDOUCTS ========== */
    /* Product name */
    h2 {
        @apply
        font-heading tracking-[0.12em]
        sm:text-lg;
    }
    /* Pre-order ribbon */
    .pre-order {
        @apply
        absolute z-30 
        top-5 right-0 px-3.5 py-[5px] 
        font-heading tracking-widest text-xs text-flavortext 
        bg-ribbon;
    }
    /* Product description */
    .prod-desc {
        @apply
        font-light text-xs
        sm:text-sm;
    }
    .sold-out {
        @apply
        font-light text-sm text-gray-500;
    }
    /* Product image hover */
    .image-hover {
        @apply
        absolute 
        w-full top-0 left-0 
        opacity-0 transition-opacity duration-300 
        group-hover:opacity-100;
    }

}