/* Tailwind import */
@import 'tailwindcss';

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===================== */

/* Global styles */
@theme {
    
    /* Typography */
    --font-font: 'Prompt', sans-serif;
    --font-weight-general: 400; /* For hero body and links */
    --font-weight-light: 300; /* For general body (descriptions, footer links) */
    --font-weight-heading: 600; /* For headings, titles, selected-links */

    /* Colors */
    --color-primary: #1a2456; /* Nav, product title, price */
    --color-background: #f0efed; /* Main background color (off-white) */
    --color-accent: #EFC2B3; /* Nav links, icons, hero text, footer text */
    --color-hover: #E28F74; /* Hovered accent links */
    --color-flavortext: #080b1b; /* Hovered primary links, 'PRE-ORDER' text, dropdown item text */

}

/* ===================== */

/*
|-------------------------------------------------------------------------------
| Tailwind Class Order Cheat Sheet
|-------------------------------------------------------------------------------
|
| 1.  Layout/Positioning: flex, grid, block, absolute, relative, z-index
| 2.  Box Model: box-sizing, width, height, min/max
| 3.  Spacing: margin (m-), padding (p-)
| 4.  Typography: font, text, leading, tracking
| 5.  Backgrounds: bg-color, bg-gradient
| 6.  Borders/Effects: border, rounded, shadow, opacity
| 7.  Interactivity: cursor, transition, transform
| 8.  SVG: fill, stroke
| 9.  States/Breakpoints: hover:, focus:, sm:, md:
|
*/

/* Shared classes */
@layer utilities {

    /* Body */
    body {
    @apply 
        overflow-x-hidden
        min-h-screen box-border
        m-0 p-0 
        font-font text-base leading-normal 
        bg-background;
    }

    /* Headers */
    .hero-first {
        @apply 
            bg-[url(src/assets/images/gursimrat-ganda-RKtvvGwSjQo-unsplash.jpg)]
    }
    .hero-second {
        @apply 
            bg-[url(src/assets/images/joyce-g-Jqv4HkLWc6g-unsplash.jpg)];
    }

    /* Headings */
    .title {
        @apply
            font-heading text-lg tracking-[0.12em]
            cursor-pointer
            hover:text-hover;
    }

    /* Icons */
    .icon {
        @apply
            w-12
            cursor-pointer;
    }

    /* Links */
    .nav-link {
        @apply
        font-light tracking-[0.12em]
        hover:text-hover;
    }
    /* Menu sidenav links */
    .sidenav-link {
        @apply
        w-full
        pb-5
        text-lg
        border-b-2 border-[#141c47];
    }
    /* Dropdown triangles */
    .link-dropdown {
        @apply
        after:ml-[.255em]
        after:align-[.255em]
        after:inline-block
        after:h-0
        after:w-0
        after:content-['']
        after:border-t-[.3em]
        after:border-l-[.3em]
        after:border-r-[.3em]
        after:border-b-0
        after:border-t-current
        after:border-l-transparent
        after:border-r-transparent;
    }

}